# Create your own gradle.properties file, this is just an example
# Release signature configuration
STORE=/path/to/your/keystore
ALIAS=keystore_alias
# Optional, the build system will ask for these if not defined
STORE_PASSWORD=password
KEY_PASSWORD=password
